@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.resimSlayd{
    height: 600px;
}

body{
    padding-top: 50px;
    font-family: "Saira Semi Condensed", sans-serif;
}

.aboutUs{
    background-color: #f2f2f2;
}
.hr{
    border: none;
    border-top: 3px solid black;
    max-width: 250px;
    margin: 25px auto;
}

.iBeyaz{
    color: #B5B5B5;
    position: relative;
    top: -55px;
    font-size: 40px;
    background-color: #f2f2f2;
    border: 10px solid #f2f2f2;
}